<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <?php $quote = Mage::getModel('checkout/session')->getQuote() ?>
    <?php $configValue = Mage::getStoreConfig('payment/winpay/win_installments', Mage::app()->getStore()->getStoreId()) ?>
    <?php $configFlag  = Mage::getStoreConfigFlag('payment/winpay/win_installments', Mage::app()->getStore()->getStoreId()) ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
    	<?php if($configFlag && $quote->getGrandTotal() >= 30): ?>
    		<?php $configValue = explode(',', $configValue) ?>
			<li>
            	<label style="margin-top: 5px;" for="win_installments"><?php echo $this->__('Installments') ?>:&nbsp;&nbsp;</label>
            	<select name="win_installments" id="win_installments">
            		<option selected value="0"><?php echo $this->__('No Installments') ?></option>
            		<?php foreach ($configValue as $pair): ?>
						<?php $amount_installments = explode(':', trim($pair)) ?>
						<?php if(count($amount_installments) == 2): ?>
							<?php if($amount_installments[0] > $quote->getGrandTotal()) { continue; } ?>
							<option value="<?php echo $amount_installments[1]; ?>">
								<?php echo $amount_installments[1] . ' ' . ($amount_installments[1] == 1 ? $this->__('Installment') : $this->__('Installments')); ?>
							</option>
						<?php else: ?>
							<option value="<?php echo $amount_installments[0]; ?>">
								<?php echo $amount_installments[0] . ' ' . ($amount_installments[0] == 1 ? $this->__('Installment') : $this->__('Installments')); ?>
							</option>
						<?php endif ?>
        			<?php endforeach ?>
            	</select>
        	</li>
		<?php endif ?>
        <li>
            <?php echo $this->__('credit_card_info') ?>
        </li>
    </ul>
</fieldset>
